@black: #403F33;
@gray:  #6E755F;
@blue:  #AFC2AA;
@beige: #FFDEA1;
@orange:#E54C10;

@import "{}/imports/ui/stylesheets/not-found.less";
@import "{}/imports/ui/stylesheets/display.less";
@import "{}/imports/ui/stylesheets/addpost.less";

body {
  padding-top: 70px; // required for magic navbar
  background-color: @black;
  color: @beige;
}

// BOOTSTRAP BUTTON THEME GENERATED

.btn-theme { 
  color: #403F33; 
  background-color: #FFDEA1; 
  border-color: #403F33; 
} 
 
.btn-theme:hover, 
.btn-theme:focus, 
.btn-theme:active, 
.btn-theme.active, 
.open .dropdown-toggle.btn-theme { 
  color: #403F33; 
  background-color: #E54C10; 
  border-color: #403F33; 
} 
 
.btn-theme:active, 
.btn-theme.active, 
.open .dropdown-toggle.btn-theme { 
  background-image: none; 
} 
 
.btn-theme.disabled, 
.btn-theme[disabled], 
fieldset[disabled] .btn-theme, 
.btn-theme.disabled:hover, 
.btn-theme[disabled]:hover, 
fieldset[disabled] .btn-theme:hover, 
.btn-theme.disabled:focus, 
.btn-theme[disabled]:focus, 
fieldset[disabled] .btn-theme:focus, 
.btn-theme.disabled:active, 
.btn-theme[disabled]:active, 
fieldset[disabled] .btn-theme:active, 
.btn-theme.disabled.active, 
.btn-theme[disabled].active, 
fieldset[disabled] .btn-theme.active { 
  background-color: #FFDEA1; 
  border-color: #403F33; 
} 
 
.btn-theme .badge { 
  color: #FFDEA1; 
  background-color: #403F33; 
}

// LINK STYLE

.link-theme {
  color: @beige;
  text-decoration: none;
}

.link-theme:hover {
  text-decoration: none;
  color: @orange;
}

// NAVBAR

.navbar-inverse {
  background-color: darken(@black, 10%);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text{
  color: @blue;
}

.navbar-inverse .navbar-nav .nav-link {
  color: lighten(@blue, 10%);
}

.navbar-inverse .nav-item.active .nav-link,
.navbar-inverse .nav-item:hover .nav-link {
  color: lighten(@blue, 20%);
}