<template name="display">
  <div class="grid">
    {{#each posts}}
      {{> block}}
    {{/each}}
  </div>
</template>

<template name="block">
  <div class="grid-item">
    <div class="grid-item-decoration">
      <a href="{{link}}" class="link-theme">
        <img class="img-grid" src="{{image}}" onerror="this.src='/img/error.png'" />
        <p class="item-description text-center" title="{{description}}">{{description}}</p>
      </a>
      <div class="item-tools">
        <span class="item-username"><a class="link-theme" href="/user/{{poster}}">{{posterName}}</a></span>
        <button class="button-votes btn btn-theme">
          {{votes}}&nbsp;<i class="glyphicon glyphicon-star{{#unless isUserVoter}}-empty{{/unless}}"></i>
        </button>
      </div>
      {{#if isUserPoster}}
      <div class="remove-button">
        <i class="glyphicon glyphicon-remove"></i>
      </div>
      {{/if}}
    </div>
  </div>
</template>