<template name="addpost">
  <div class="col-lg-12">
    <form id="form-addpost">
      <div class="form-group has-feedback">
        <label class="control-label" for="input-link">Link to Site</label>
        <input type="text" class="form-control" id="input-link" placeholder="http://www.placeholder.com"/>
        <span class="glyphicon form-control-feedback
          {{#if isLinkValidating}}
            {{#if isLinkValid}}
              glyphicon-ok validation-fail
            {{else}}
              glyphicon-remove validation-success
            {{/if}}
          {{/if}}
          ">
        </span>
      </div>
    
      <div class="form-group has-feedback">
        <label class="control-label" for="input-image">Preview Image</label>
        <input type="text" class="form-control" id="input-image" placeholder="http://www.placeholder.com/350x200" />
        <span class="glyphicon form-control-feedback
        {{#if isPictureValidating}}
            {{#if isPictureValid}}
              glyphicon-ok validation-fail
            {{else}}
              glyphicon-remove validation-success
            {{/if}}
          {{/if}}"></span>
      </div>

      <label for="description">Description</label>
      <br />
      <input type="text" class="form-control" id="input-description" placeholder="Placeholder Website" />
      <br />
      <input type="submit" class="btn btn-theme" value="Submit" />
    </form>
    <br />
  </div>
</template>