<template name="addpost">
  <div class="container">
    <div class="col-lg-12">
      <form id="form-addpost">
        <label for="link">Link to Site</label>
        <input type="text" id="input-link" placeholder="http://www.placeholder.com"/>
        <span class="validate validate-link">
          {{#if isLinkValidating}}
            {{#if isLinkValid}}
              <i class="glyphicon glyphicon-ok"></i>
            {{else}}
              <i class="glyphicon glyphicon-remove"></i>
            {{/if}}
          {{/if}}
        </span>
        <br />

        <label for="image">Preview Image</label>
        <input type="text" id="input-image" placeholder="http://www.placeholder.com/350x200" />
          {{#if isPictureValidating}}
            {{#if isPictureValid}}
              <i class="glyphicon glyphicon-ok"></i>
            {{else}}
              <i class="glyphicon glyphicon-remove"></i>
            {{/if}}
          {{/if}}
        <br />

        <label for="description">Description</label>
        <input type="text" id="input-description" placeholder="Placeholder Website" />
        <br />

        <input type="submit" class="btn btn-theme" value="Submit" />
      </form>
    </div>
  </div>
</template>